@page "{handler?}/{token?}"
@model CoreShindigz.Areas.Api.Pages.InstructionSheets.IndexModel
@using CoreShindigz.Areas.Api.Pages.InstructionSheets.Models


@{
    if (Model.PageMode == CoreShindigz.Areas.Api.Pages.InstructionSheets.PageModes.notfound)
    {
        Layout = "_ListforOrder";

        <h2>No assets found</h2>
    }


    if (Model.PageMode == CoreShindigz.Areas.Api.Pages.InstructionSheets.PageModes.dev)
    {
        Layout = "_Layout";

        string cryptotemp;

        <h2>Instruction Sheets</h2>

        <a target="_new" href="~/api/instructionsheets/list/OPX|Z1885948|60647"> List for order Z1885948 (2 items) </a> <br />
        <a target="_new" href="~/api/instructionsheets/list/OPX|Z1885965|070181107"> List for order Z1885965 (1 item) </a> <br />
        <a target="_new" href="~/api/instructionsheets/list/OPX|W4231143|72716"> List for order W4231143 (0 item) </a> <br />


        <text><br /> Folder: @Model.FolderLocation </text>

        <hr />
        <ul>
            @foreach (var instructionSheet in Model.InstructionSheets)
            {

                cryptotemp = TokenManager.EncodeToken("IXX", System.IO.Path.GetFileNameWithoutExtension(instructionSheet.FileName));

                <li>@instructionSheet.FileName = <a target="_new" href="/api/instructionsheets/download/@cryptotemp"> @cryptotemp  </a></li>
            }
        </ul>
    }

    if (Model.PageMode == CoreShindigz.Areas.Api.Pages.InstructionSheets.PageModes.listfororder)
    {
        Layout = "_ListforOrder";

        <h2>Instruction Sheets for Order @Model.OrderNo</h2>

        <ul>
            @foreach (var asset in Model.InstructionSheetAssets)
            {
                string cryptotemp = TokenManager.EncodeToken("IOP", asset.ItemNo, Model.OrderNo, Model.PostalCode);

                <li> @asset.ItemNo : @asset.Description <a href="~/api/instructionsheets/download/@cryptotemp" target="_new">download</a></li>
            }
        </ul>
    }
}


